<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
	Are you tired of seemingly endless searches taking you down deep internet rabbit holes in the hopes you'll find a decent self-help quote? If you love inspirational quotes, but hate having to search all over the internet to find them, you've come to the right place. Good advice is best in <em>splurts</em>. 
	</p>

	<p>
	 You can even contribute your own quote, that is, if you think you've got what it takes to inspire others and <em>bring the boost</em>. Try it for yourself!
	</p> 
	<p> 
	  Splurty was built by <a target="_blank" href="http://github.com/rosebuddy">Megan Barker</a> while she was studying web development at the Firehose Project. When she's not frolicking in the outdoors, she enjoys frequent trips to Splurty (a.k.a. the Zen Generator) because she finds it relaxing, fun, and most importantly, inspiring.
	</p>
	<br />
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'megan_profesh.jpg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Megan Barker</h2>
	<br />
	<p>
	Megan is a science, media and communications professional who has worked with utility providers, non-profits, educational institutions, production companies, and software startups. She is interested in helping companies and organizations develop collaborative, innovative communication strategies and useful information sharing tools.
	</p>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	