<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
	Good advice is best in splurts. 

	Are you tired of seemingly endless internet searches taking you down deep, dark, self-help rabbit holes. If you love a good self-help quote, but hate having to search the internet to find it, you've come to the right place. 
	</p>

	<p>
	 You can even contribute your own quote, that is, if you think you've got what it takes to inspire others and bring the boost. Try it for yourself!
	</p> 
	<p>
	  If you have something to share, please leave your inspirational saying or quote and your name or the name of the person or organization the quote originates from. 
	</p>

	<p> 
	  Splurty was built by <a target="_blank" href="http://github.com/rosebuddy">Megan Barker</a> while she was studying web development at the Firehose Project. She's not too embarrased to admit that she uses the quote generator because she finds it relaxing, fun, and most importantly, inspiring.
	</p>
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'megan.jpg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Megan Barker</h2>
	<br />
	<p>
	Megan is an environmental scientist and communications professional who has contributed to public outreach and media projects for utility providers, environmental non-profit organizations, universities, and news production companies. Having previously worked in the fields of scientific research, social work, education, and media, Megan is interested in developing innovative communication strategies, facilitating partnerships between diverse stakeholders, and developing useful information sharing tools.
	</p>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	